@using LanguageSchoolApp.Areas.Administration.Models.Courses
@model CoursesAdminViewModel

<h1>Courses administration</h1>
<hr />
<div class="table-responsive">
    <table id="coursesTable" class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th class="nowrap">Starts On</th>
                <th class="nowrap">Ends On</th>
                <th>Id</th>
                <th>Is Deleted</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    @Html.Partial("_CourseRowReadPartial", course)

                    @*@Html.Partial("_CourseRowEditPartial", viewModel)*@
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#coursesTable').dataTable({ "paging": true });
        });

        $(".btnEdit").on("click", function () {

            $.get('@Url.Action("GetEditorRow", "CoursesAdmin")', { id: $(this).prop("id") }, function (view) {
                $(this).closest("tr").html(view);
            });

        });
    </script>
}