@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">An error occurred</h1>
<p class="text-danger lead">Your request was not processed due to an error.</p>
<p class="text-danger lead">Please, try again later.</p>

