@using LanguageSchoolApp.Models.Home
@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

@section Parallax {
<section class="parallax">
    <div class="d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <header class="text-center opp">
                    <h1 class="primary-color">Learn a new language our way</h1>
                </header>
            </div>
        </div>
    </div>
</section>
}

<h2 class="text-center">Upcoming courses</h2>
<hr />
<section class="row">
    @{
        foreach (var course in Model.Courses)
        {
            @Html.Partial("_CourseTilePartial", course);
        }
    }
</section>